In [5]:
import pandas as pd

In [15]:
airports = pd.read_csv("https://raw.githubusercontent.com/tidyverse/nycflights13/master/data-raw/airports.csv")

In [38]:
airports.sort_values("lat",ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

### Question 1: What is the northernmost airport in the United States?
By searching up online and looking at the above data, BRW (Wiley Post-Will Rogers Memorial Airport) is the northernmost airport in the US.

In [39]:
airports.sort_values("lon",ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

### Question 2: What is the easternmost airport in the United States?
By searching up online and looking at the above data, SYA (Eareckson Air Station) is the easternmost airport in the US.

In [22]:
weathers = pd.read_csv("https://raw.githubusercontent.com/tidyverse/nycflights13/master/data-raw/weather.csv")

In [29]:
df=weathers[(weathers.year==2013) & (weathers.month==2) & (weathers.day==12) & weathers.origin.isin(["LGA","JFK","EWR"])]

In [37]:
df.groupby("origin").wind_speed.agg(["sum","count","mean"])

               sum  count      mean
origin
EWR     1353.31728     24  56.38822
JFK      345.23400     24  14.38475
LGA      359.04336     24  14.96014

### Question 3: On February 12th, 2013, which New York area airport had the windiest weather?
By looking at the above aggregated data, we can see EWR (Newark Liberty International Airport) has the biggest wind speed in average which means it is the windest airport in New York Area.